altgraph==0.17.4
asgiref==3.8.1
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
certifi @ file:///C:/b/abs_7bbxxprxir/croot/certifi_1720453609121/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
colorama==0.4.6
contourpy==1.2.1
cryptography==43.0.1
cycler==0.12.1
Cython==3.0.11
Django==5.0.7
easyocr==1.7.1
et-xmlfile==1.1.0
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
fonttools==4.53.1
fsspec==2024.6.1
fuzzywuzzy==0.18.0
gmpy2 @ file:///C:/ci_311/gmpy2_1677743390134/work
huggingface-hub==0.24.5
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
imageio==2.34.2
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
keyboard==0.13.5
kiwisolver==1.4.5
lapx==0.5.2
lazy_loader==0.4
Levenshtein==0.25.1
lxml==5.3.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.9.1
memory-profiler @ file:///Users/ktietz/demo/mc3/conda-bld/memory_profiler_1630567160231/work
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
MouseInfo==0.1.3
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_36fmumtynt/croot/networkx_1720002497414/work
ninja==1.11.1.1
Nuitka==2.4.8
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=5dfd3e04dc1c2826d3f404fdc7f93c097901f5da9b91f4f394f79d4e038ed81d
olefile==0.47
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pillow @ file:///C:/b/abs_32o8er3uqp/croot/pillow_1721059447598/work
plotly==5.23.0
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
py-cpuinfo==9.0.0
PyAutoGUI==0.9.54
pyclipper==1.3.0.post5
pycparser==2.22
pydub==0.25.1
PyGetWindow==0.0.9
pyhwpx==0.39.2
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyMsgBox==1.0.9
pyparsing==3.1.2
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytweening==1.2.0
pytz==2024.1
pywin32==307
pywin32-ctypes==0.2.2
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
qt-material==2.14
rapidfuzz==3.9.5
requests @ file:///C:/b/abs_9frifg92q2/croot/requests_1721410901096/work
scikit-image==0.24.0
scipy==1.14.0
seaborn==0.13.2
shapely==2.0.5
shiboken6==6.7.2
six==1.16.0
sqlparse==0.5.1
sympy @ file:///C:/b/abs_82njkonm7f/croot/sympy_1701397685028/work
tenacity==9.0.0
thop==0.1.1.post2209072238
tifffile==2024.7.24
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tqdm==4.66.4
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata==2024.1
ultralytics==8.2.83
ultralytics-thop==2.0.5
urllib3 @ file:///C:/b/abs_a7hvzm4y95/croot/urllib3_1718912661242/work
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
xlrd==2.0.1
zstandard==0.23.0
